* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.nav-bar {
  background-color: #03989e;
}

.footer {
	background-color: #DDAC9D;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 3em;
}








